.side-drawer {
  width: 400px;
  height: 100vh;
  background-color: #2d2d2d;
  position: fixed;
  top: 0;
  right: -300px;
  transition: left 0.3s ease;
  padding: 10px;
  z-index: 9;
}

.headWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-drawer.open {
  right: 0;
}

.headWrapper button {
  cursor: pointer;
  color: #777777;
}

.side-drawer h1 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px 2px;
  color: #dfdfdf;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentWrapper h6 {
  min-width: 95px;
  max-width: 95px;
  padding-right: 10px;
  font-size: 11px;
  color: #dfdfdf;
  width: 100%;
  text-align: right;
  margin: 0;
}

.labelWrapper {
  width: 100%;
  margin-right: 14px;
}
